body {
    padding: 5%;
    font-size: 150%;
    font-family: 'Roboto Mono', monospace;
}

#gameContent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 500px;
    height: 700px;
}

#scorebox {
    text-decoration: none;
    color: black;
}

#scorebox:hover {
    color:blueviolet;
}

#quizBox {
    text-align: center;
}

#quizBox ul li {
    display: block;
    border: 2px black solid;
    border-radius: 20px 20px;
    line-height: 250%;
    margin-bottom: 3%;
}

#quizBox ul li:hover {
    color: white;
    background-color: pink;
}

#timeLeft {
    float: right;
}

button#Submit {
    margin: 5%;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 25px 25px;
    font-family:'Roboto Mono', monospace;
    font-size: 85%;
}

button#Submit:hover {
    background-color: pink;
}

li#myScore {
    background-color: pink;
    color: white;
}

button#gameReset {
    margin: 5%;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 25px 25px;
    font-family:'Roboto Mono', monospace;
    font-size: 85%;
    float: left;
}

button#clearScores {
    margin: 5%;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 25px 25px;
    font-family:'Roboto Mono', monospace;
    font-size: 85%;
}